extends layout

block head
    title 关于我们

block body
    .active-title 公司介绍
    .active-container
        p.text-indent 上海星群信息科技有限公司于2015年底月成立，致力于将无人机与虚拟现实、云服务技术连接起来，实现远程景点第一人称视角的飞行体验。

    .active-title 联系我们
    .active-container
        p
            span.tl 公司邮箱：
            span.tr foamliu@yeah.net
        p
            span.tl 公司地址：
            span.tr 上海市闵行区浦驰路1809弄104号701室
        p
            span.tl 邮政编码：
            span.tr 201112

    .active-title 星群科技微信公众号
    .webchat-code
        img(src="/images/webchat-code.jpg")