extends layout

block head
    title 准备穿越

block body
    //.active-title 准备穿越
    div(id="container", style="width:500px; height:300px")

    script(src="http://webapi.amap.com/maps?v=1.3&key=1eb5c8044bf3a789d2876ae58d03ab18&callback=init")
    script.
        function showPosition(position){
            console.log("showPosition");
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            console.log(latitude + ", " + longitude);

        }
    script.
        function displayError(error){
            console.log(error.code);
        }
    script.
        function init(){
            console.log("init");

            var container = document.getElementById("container");
            var width = window.screen.width - window.innerWidth > 0 ? window.innerWidth : window.screen.width;
            var height = window.screen.height - window.innerHeight > 0 ? window.innerHeight : window.screen.height;
            container.style.width = width + "px";
            container.style.height = height + "px";

            var map = new AMap.Map('container', {
                center: [121.48, 31.05], // 上海
                zoom: 6
            });
            map.plugin(["AMap.ToolBar"], function() {
                map.addControl(new AMap.ToolBar());
            });

            if (navigator.geolocation){
                navigator.geolocation.getCurrentPosition(showPosition, displayError, null);
            }
        }


