doctype html
html
    head
        meta( http-equiv = "content-type" , content = "text/html;charset=utf-8" )
        meta( name="viewport" , content="width=device-width, initial-scale=1, user-scalable=1" )
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            (function () {
                var standard = Math.ceil(( window.screen.width - window.innerWidth > 0 ? window.innerWidth : window.screen.width ) / 750 * 32) + "px";
                document.getElementsByTagName("html")[0].style.fontSize = standard;
            })();

        block head

    body
        block body

    script(src="//s11.cnzz.com/z_stat.php?id=1260477861&web_id=1260477861",async="async",defer="defer")
    script.
        (function () {
            var standard = Math.ceil(( window.screen.width - window.innerWidth > 0 ? window.innerWidth : window.screen.width ) / 750 * 32) + "px";
            document.body.style.fontSize = standard;
        })();